<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas Flask</title>
</head>
<body>
  <center>
    <h1>você digitou {{user}} e está em uma pagina aleatoria</h1>
    <p>Clique aqui para ir para o <a href="https://www.google.com/"> google </a></p>
    <p>Ou volte para a <a href="https://emotionalskybluejavascript.carlos-henriq74.repl.co/"> pagina inicial </a></p>
  </center>
</body>
</html>