<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas Flask</title>
</head>
<body>
  <center>
    <h1>Pagina inicial</h1>
    <h2>Projeto para fazer buscas de empregos no site <a href="https://www.vagas.com.br/"> vagas.com.br </a></h2>
    
    <h4>Site simples para treinar o aprendizado do Flask</h4>
    
    <p>Use a url navegar pelo site ex: /search para buscas de emprego</p>
    <p>Ou use <a href="https://emotionalskybluejavascript.carlos-henriq74.repl.co/search"> esse atalho </a>para ir para buscas desse site</p>
  </center>
</body>
</html>