<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aulas Flask</title>
</head>
<body>
  <center>
    <h1>Busque seu emprego por keyword</h1>

    <form action="/result" method="get">
      <!-- 
      name - para dar nome na variavel de busca na url
      ex: /result?variavel=valor digitado
      -->
      <input placeholder="digite aqui" name="variavel" required>
      <button>Buscar</button>
      
    </form>
  </center>
</body>
</html>